<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Le Ricette</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
	<li class="divider"></li>
	<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
	<li class="divider"></li>
	<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      <% else %>
	<li class="divider"></li>
	<li><%= link_to "Sign up", new_user_registration_path %></li>
	<li class="divider"></li>
	<li><%= link_to "Login", new_user_session_path %>
      <% end %>
    </ul>
  </section>
</nav>


